:root {
    --primary-color: #05A79E;
    --secondary-color: #1c1c1c;
    --background-color: #f5f7fa;
    --text-color: #222831;
    --highlight-color: #ff6600;
    --black-color: #212529;
    --red-color: #F02A49;
}
