a {
    color: var(--text-color);
    text-decoration: none;
}


.filter-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

    .filter-bar .form-control {
        flex: 1 1 200px;
        max-width: 240px;
    }

.table-wrapper {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

table thead {
    background-color: var(--primary-color);
    color: #fff;
}

.table-hover tbody tr:hover {
    background-color: rgba(5, 167, 158, 0.1);
}

.badge.bg-success {
    background-color: var(--primary-color);
}
.breadcrumb .breadcrumb-item.active {
    color: var(--primary-color);
}

