body {
    background-color: #f5f7fa;
}

.card {
    border-radius: 12px;
    border: 1px solid #ddd;
}

label.form-label {
    font-weight: 600;
    font-size: 0.95rem;
}

.highlight-input {
    border: 2px solid var(--primary-color);
    background-color: #f0faff;
    font-weight: 500;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

.required::after {
    content: " *";
    color: red;
}

.is-invalid {
    border-color: red;
}